[Unit]
Description=AV1 operator
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/av1-operator
Restart=on-failure

[Install]
WantedBy=multi-user.target